*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #7733ff, #99ffcc);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.task-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #7733ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition-duration: 0.4s;
}
button:hover{
    background: #33ff99;
}
button.delete{
    size: 20px;
    padding: 5px 10px;
}
button.delete:hover{
    background: darkred;
}
ul li {
    list-style: none;
}

.task-checked {
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: line-through;
    font-family: arial, sans-serif;
    color: black;
    cursor: pointer;
}

.task-unchecked {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: black;
    cursor: pointer;
}