<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>To do list</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="todo-app">
        <h2>To Do List <img src="/images/notepad-icon.png"></h2>
        <form action="/addNewTask" method="post">
            <div class="row">
                <input type="text" id="input-box" name="input-box" placeholder="Add to list">
                <button type="submit">Add</button>
            </div>
        </form>
        <ul id="list-container">
            <li th:each="task : ${taskList}">
                <div class="task-row">
                    <p5 th:if="${task.isDone()}==true" th:text="${task.getName()}">Name</p5>
                    <p5 th:if="${task.isDone()}==false" class="checked" th:text="${task.getName()}">Name</p5>
                    <button class="delete" th:onclick="'deleteTask(\'' + ${task.getId()} + '\')'">x</button>
                </div>
            </li>
        </ul>
    </div>
</div>
    <script type="text/javascript" th:src="@{/javaScript/scripts.js}"></script>
    <script src="/javaScript/scripts.js"></script>
</body>
</html>