<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>To do list</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="todo-app">
        <h2>To Do List <img src="/images/notepad-icon.png"></h2>
        <div class="row">
            <input type="text" id="input-box" placeholder="Add to list">
            <form action="/AddNewTask" method="post">
                <button>Add</button>
            </form>
        </div>
        <ul id="list-container">
            <li class="checked">Task 1</li>
            <li>Task 2</li>
            <li>Task 3</li>
        </ul>
    </div>
</div>

</body>
</html>